
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Work+Sans&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
*{
    padding: 0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
}

body{

    .container{


        
        .img-container{
           /** background-image: url('/holdinghands.png'); **/
            img{
                width: 100%;
            }
        }

        .start-container{
            
          position: absolute;
          top: 12rem;
          padding: 3rem;
          left: 12rem;
        
          p{
        line-height: 4rem;
          }
          .caring{
            line-height: 1rem;
            letter-spacing:0.5rem;
            color: #ffffff;
            font-weight: 900;
            
          }

          .lorem{
            color: #494C3E;
            font-weight: 600;
            font-size: 3rem;
          }
        }
        // .second-half{
        //     display: flex;
        //     color:white;
        //     position: absolute;
        //     top:29rem;
        //     text-align: center;
        //     justify-content: center;
        //     transform: translate(100%, 100%);
            
           
        //     button{
        //         background-color: #78BC71;
        //         border-radius:5px ;
        //         height: 9rem;
        //         padding:2rem;
        //         border: none;
        //         width: 16rem;
        //         color:white;
        //         font-size: 1.2rem;
        //     }
            
        //     .hci{
        //         margin-left: 1rem;
        //         width: 16rem;
        //         padding:2rem;
        //         text-align: center;
        //         background-color: #78BC71;
        //         border-radius:5px ;
        //         font-size: 1.2rem;
        //     }

        button{
            background-color: yellow;
            margin: 1rem;
            color: white;
            background-color: #78BC71 ;
            border: none;
            height: 8rem;
            border-radius: 5px;

        }

        .btns-container{
            position: absolute;
            top: 36rem;
            width: 100%;
            justify-content: center;
        }
        .second-half{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
          
        .second-half > button{
            width: 20%;
        }
            }

            
        }
    
  






@media screen and (max-width: 960px){

    body{
        .container{
            .img-container{
                height:10rem;
                background-color: green !important;
                color: orange;
                 img{
                     height: 18rem;
           
                 }
             }

             .start-container{
            
                position: absolute;
                top: 8rem;
                padding: 0.7rem;
                left:1rem;
            
                .caring{
                 
                  letter-spacing:0.5rem;
                  color: #ffffff;
                  font-weight: 900;
                  font-size: 0.7rem;
                  
                }
      
                .lorem{
                    line-height: 1.2rem;
                  color: #494C3E;
                  font-weight: 600;
                  font-size: 1.2rem;
                }

                .button-container{
                   

                    p{
                        font-size: 0.8rem;
                    }
                }
              }
            //   .second-half{
            //     display: block;
            //     color:white;
              
                
            //     text-align: center;
                
            //     transform: translateY(-80%);
                
               
            //     button{
            //         background-color: #78BC71;
            //         border-radius:5px ;
            //         height: 6rem;
            //         width: 20rem;
            //         padding:2rem;
            //         border: none;
                    
            //         color:white;
            //         font-size: 1.2rem;
            //     }
                
            //     .hci{
                  
            //         background-color: #78BC71;
            //         border-radius:5px ;
            //         height: 6rem;
            //         width: 20rem;
            //         padding:2rem;
            //         border: none;
            //         margin-top: 0.5rem;
            //         margin-left: 0rem;
            //         color:white;
            //         font-size: 1.2rem;
            //     }
            .btns-container{
                position: absolute;
                top: 18rem;
                width: 100%;
                justify-content: center;
            }
            .second-half{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
              
            .second-half > button{
                width: 50%;
                height: 5rem;
            }
              
                }
        }
    }
 
